@import "../../styles/variables.scss";;

.cat_btn {
  display: block;
  width: 100%;
  font-weight: 500;
  text-align: left;
  @include transition;
  &:first-letter {
    text-transform: uppercase;
  }
  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($font,.1);
  }
  &:hover {
    color: $green;
  }
  &:global {
    &.active {
      color: $green;
    }
  }
}