@import "../../styles/variables.scss";

.frame {
  background: #fff;
  padding: 3rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem rgba(#000, 0.1);
  width: 32rem;
  position: sticky;
  top: 9rem;
}

.avatar {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  position: relative;
  background-color: rgba($font, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  img,
  svg {
    width: 15rem;
    max-height: 15rem;
  }
}

.avatar_ico {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border: 1px solid rgba(#000, 0.1);
}

.info_body {
  > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1199px) {
  .frame {
    width: 30rem;
    top: 8rem;
  }
}

@media screen and (max-width: 767px) {
  .frame {
    position: relative;
    top: 0;
  }
}
@media screen and (max-width: 420px) {
  .frame {
    width: 37rem;
    max-width: 100%;
  }
}
