@import "../../styles/variables.scss";

.slider {
  margin-left: -1rem;
  margin-right: -1rem;
  &:not(:last-child) {
    margin-bottom: 5rem;
  }
  :global {
    .slick-slide {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 0;
    }
    .slick-dots {
      bottom: -2.5rem !important;
    }
  }
}
