@import '../../styles/variables.scss';

.block {
  width: 100%;
  padding: 2rem;
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem rgba($font,.1);
  position: sticky;
  top: 8rem;
  z-index: 2;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.range {
  >*:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.range_title {
  font-weight: 600;
}