@import '../../styles/variables';

.cart {
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  >*:not(:last-child) {
    margin-right: .5rem;
  }
  img, svg {
    width: auto;
    height: auto;
    max-width: 2.5rem;
    max-height: 2.5rem;
  }
}