@import "../../styles/variables";

.block {
  position: relative;
  z-index: 3;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  & > *:not(:last-child) {
    margin-bottom: 0;
  }
}

.search {
  display: flex;
  position: relative;
}

.otput {
  padding: 2rem;
  position: absolute;
  left: 2rem;
  width: calc(100% - 4rem);
  top: calc(100% - 2rem);
}

.otput_blocks {
  max-height: 22rem;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -1rem;

  > * {
    width: calc(50% - 1rem);
    margin-bottom: 1rem;
    @media screen and (max-width: 600px) {
      width: calc(100% - 1rem);
    }
  }
}

.loader {
  height: 10rem !important;
}
