@import '../../styles/variables.scss';

.reg_btn {
  display: inline-flex;
  width: 14.5rem;
  justify-content: flex-end;
  align-items: center;
  color: $green;
  font-size: inherit;
  font-weight: 600;
  >*:not(:last-child) {
    margin-right: .5rem;
  }
  img, svg {
    max-width: 2rem;
    max-height: 2rem;
  }
}
