@import "../../styles/variables.scss";

.sides {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.categories_side {
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  padding-right: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba($font, 0.1);
  position: sticky;
  top: 8rem;
}

.categories_side_in {
  height: calc(100vh - 13rem);
  overflow: auto;
  width: 100%;
  padding-right: 1rem;
  @include custom_scroll;
}

.content_side {
  width: calc(100% - 31rem);
  min-height: calc(100vh - 13rem);
}


@media screen and (max-width: 992px) {
  .categories_side {
    width: 23rem;
  }
  .content_side {
    width: calc(100% - 25rem);
  }
}

@media screen and (max-width: 767px) {
  .sides {
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .categories_side {
    width: 100%;
    position: relative;
    top: 0;
  }
  .content_side {
    width: 100%;
    min-height: unset;
  }
  .categories_side_in {
    height: 20rem;
  }
}