@import '../../styles/variables.scss';

.sides {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.categories_side {
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  padding-right: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba($font,.1);
  position: sticky;
  top: 8rem;
}
.categories_side_in {
  height: calc(100vh - 13rem);
  overflow: auto;
  width: 100%;
  padding-right: 1rem;
  @include custom_scroll;
  
  >*:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.content_side {
  width: calc(100% - 31rem);
}

.cat_btn {
  display: block;
  width: 100%;
  font-weight: 500;
  text-align: left;
  @include transition;
  &:first-letter {
    text-transform: uppercase;
  }
  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($font,.1);
  }
  &:hover {
    color: $green;
  }
  &:global {
    &.active {
      color: $green;
    }
  }
}
