@import "../../styles/variables.scss";

.sides {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.categories_side {
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  padding-right: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba($font, 0.1);
  position: sticky;
  top: 8rem;
}
.categories_side_in {
  height: calc(100vh - 13rem);
  overflow: auto;
  width: 100%;
  padding-right: 1rem;
  @include custom_scroll;
}
.content_side {
  width: calc(100% - 31rem);
  min-height: calc(100vh - 13rem);
}
