.modal_overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  background: rgba(#000, 0.8);
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  > * {
    max-width: 100%;
    max-height: 100%;
  }
}
