@import "../../styles/variables";

.block {
  width: 100%;
  padding: 2rem;
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem rgba(#000, 0.1);
  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.list {
  font-size: 1.6rem;
  & > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
