@import "variables";
@import "base";

html {
  font-size: 10px;
  background: #fff;
  height: 100%;
  max-height: 100%;
}

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  font-weight: 400;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $font;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  *:focus {
    outline: none;
  }
}

.form_elements {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;

  > * {
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;

    &.half {
      width: calc(50% - 2rem);
    }

    &.devider {
      height: 1rem;
    }
  }

  @media screen and (max-width: 600px) {
    > .half {
      width: calc(100% - 2rem);
    }
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &.no_offset {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &.negative_down {
    margin-bottom: -1rem;
  }
}

.form_element {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

.fe_title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  margin-bottom: 1rem;
}

.self_aligned {
  align-self: center;
}

.font {
  color: $font !important;
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
  position: relative;
  padding-top: 7rem;
  @media screen and (max-width: 991px) {
    padding-top: 6.5rem;
  }
}

.accent {
  color: $green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.simple_text {
  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  iframe {
    max-width: 100%;
    height: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    color: $dark;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.5;
  }

  h2 {
    color: $dark;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
  }

  h3 {
    color: $dark;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
  }

  h4 {
    color: $dark;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
  }

  h5 {
    color: $dark;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
  }

  h6 {
    color: $dark;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: normal;
  }

  a {
    color: $dark;
    font-weight: 400;
    text-decoration: underline;
  }

  strong,
  b {
    font-weight: 600;
    color: $dark;
  }

  ul {
    li {
      position: relative;
      padding-left: 2rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &:before {
        content: "";
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        background-color: $dark;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 1.2rem;
      }
    }
  }

  ol {
    counter-reset: myCounter;

    li {
      position: relative;
      padding-left: 2.5rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &:before {
        counter-increment: myCounter;
        content: counter(myCounter) ".";
        position: absolute;
        left: 0;
        top: 0;
        color: $dark;
        font-weight: 500;
      }
    }
  }

  blockquote {
    position: relative;
    font-size: 1.6rem;
    z-index: 0;
    color: $font;
    font-style: italic;
    padding-left: 3rem;

    > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.text_container {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.screen_content {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1199px) {
    max-width: 143rem;
  }

  @media screen and (max-width: 991px) {
    max-width: 92rem;
  }
}

.custom_styled_scroll {
  &::-webkit-scrollbar {
    height: 3px;
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(37, 135, 186, 0.15);
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    background: $green;
  }
}

section {
  position: relative;
  padding: 5rem 15px;

  &.no_paddings {
    padding: 0;
  }
}

.top_bordered {
  border-top: 1px solid rgba($dark, 0.1);
}

.bottom_bordered {
  border-bottom: 1px solid rgba($dark, 0.1);
}

.text_center {
  text-align: center;
}

.half_blocks {
  margin: -0.5rem;
  display: flex;
  flex-wrap: wrap;

  > * {
    margin: 0.5rem;
    width: calc(50% - 1rem);
  }
}

.triple_blocks {
  margin: -1.5rem;
  display: flex;
  flex-wrap: wrap;

  > * {
    margin: 1.5rem;
    width: calc(33.333% - 3rem);
  }
}

.quarter_blocks {
  margin: -1.5rem;
  display: flex;
  flex-wrap: wrap;

  > * {
    margin: 1.5rem;
    width: calc(25% - 3rem);
  }
}

.bottom_offset {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.offsets_inside {
  > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.main_btn_wrapper {
  display: flex;
  align-items: center;
  margin: -0.5rem;

  &.centered {
    justify-content: center;
  }

  > * {
    margin: 0.5rem;
  }
}

.main_btn {
  color: #fff;
  display: inline-block;
  background: $green;
  padding: 1.5rem;
  border-radius: 0.5rem;
  min-width: 20rem;
  text-align: center;
  @include transition;
  font-weight: 500;

  &.with_offset {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &.min_wide {
    min-width: 100%;
  }

  &:hover {
    background: $dark;
  }

  &.dark_btn {
    background: $dark;

    &:hover {
      background: $green;
    }
  }

  &.disabled {
    pointer-events: none;
    background: rgba($font, 0.2);
  }
}

.remain_counter {
  display: inline-block;
  flex-shrink: 0;
  min-width: 1.5rem;
  text-align: center;
}

.bg_img {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_title {
  font-weight: 700;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &.title_h1 {
    font-size: 3.4rem;

    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }

  &.title_h2 {
    font-size: 3rem;
  }

  &.title_h3 {
    font-size: 2.6rem;
  }

  &.title_h4 {
    font-size: 2.4rem;
  }

  &.title_h5 {
    font-size: 2rem;
  }

  &.title_h6 {
    font-size: 1.8rem;
  }
}

.half_sides {
  display: flex;
  justify-content: space-between;

  > * {
    width: calc(50% - 1.5rem);
  }

  &.centered {
    align-items: center;
  }
}

.green {
  color: $green !important;
}

.underline {
  text-decoration: underline;
}

input,
textarea {
  width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: $font;
  background: #fff;
  border: 1px solid rgba($border, 0.2);
  font-size: 1.6rem;
  @include transition;

  &:focus {
    border-color: rgba($green, 0.3);
  }

  &.error {
    border-color: red;
  }
}

textarea {
  height: auto;
  min-height: 10rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.modal_close {
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;
  height: 4rem;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1px;
    background: currentColor;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &:before {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &:after {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}

b {
  font-weight: 500;
}

.frame {
  width: 100%;
  padding: 2rem;
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem rgba(#000, 0.1);

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  &.with_offset {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.slick-dots {
  bottom: 2rem !important;
  font-size: 0;

  .slick-active button:before {
    color: $green !important;
  }

  @media screen and (max-width: 600px) {
    bottom: 1rem !important;
  }
}

.slick-dots li {
  @media screen and (max-width: 600px) {
    margin: 0.3rem !important;
  }
}

.slick-dots li button:before {
  color: $font !important;
  width: 1rem !important;
  height: 1rem !important;
  line-height: 1rem !important;
}

.slick-dots li button,
.slick-dots li {
  width: 1rem !important;
  height: 1rem !important;
}

.react-select {
  &__single-value {
    color: $font !important;
  }

  &__control {
    background: rgba($font, 0.1) !important;
    border-color: $border !important;
    box-shadow: none !important;
    outline: none !important;
    min-height: 5rem !important;

    input {
      height: auto;
    }

    &:hover {
      border-color: $border !important;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  &__indicator {
    &:hover {
      color: $green !important;
    }
  }

  &__multi-value {
    background: $dark !important;
    color: #fff;
    border-radius: 0.5rem !important;

    &__remove {
      &:hover {
        background: rgba($dark, 0) !important;
        color: $green !important;
      }
    }

    &__label {
      color: #fff !important;
      padding: 0.5rem !important;
      padding-left: 1rem !important;
    }
  }

  &__menu {
    color: $dark;
  }
}

.custom_pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  > *:not(:last-child) {
    margin-right: 1rem;
  }

  > * {
    display: flex;
  }

  .break,
  .disabled {
    pointer-events: none;
  }

  .selected {
    a {
      border-color: rgba($green, 0.5);
      color: $green;
    }
  }

  a {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    border: 1px solid $border;
    border-radius: 0.5rem;
    line-height: 3rem;
    min-width: 3rem;
    text-align: center;
  }

  .previous,
  .next {
    a {
      min-width: 10rem;
    }
  }

  @media screen and (max-width: 420px) {
    a {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .previous a,
    .next a {
      min-width: 3rem;
      font-size: 0;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 0.8rem;
        height: 0.8rem;
        position: absolute;
        left: 50%;
        top: 50%;
        border-top: 1px solid $green;
      }
    }
    .previous a:before {
      -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      border-left: 1px solid $green;
      margin-left: 0.2rem;
    }
    .next a:before {
      -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      border-right: 1px solid $green;
      margin-left: -0.2rem;
    }
  }
}

.quarter_slider {
  margin-left: -1rem;
  margin-right: -1rem;

  .slick-slide {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.hero_slider {
  .slick-arrow {
    margin-top: -2.5rem;
    width: 5rem;
    height: 5rem;
    border: 1px solid rgba($green, 0.2);
    background: rgba($green, 0.1);
    border-radius: 50%;
    transition: 0.3s;
    z-index: 1;

    &:after {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-top: 2px solid $green;
      position: absolute;
      left: 50%;
      top: 50%;
    }

    &.slick-prev {
      left: 0;
      opacity: 0;

      &:after {
        border-left: 2px solid $green;
        transform: translateY(-50%) translateX(-50%) rotate(-45deg);
        margin-left: 0.2rem;
      }
    }

    &.slick-next {
      right: 0;
      opacity: 0;

      &:after {
        border-right: 2px solid $green;
        transform: translateY(-50%) translateX(-50%) rotate(45deg);
        margin-left: -0.2rem;
      }
    }

    &:before {
      font-size: 0;
    }

    &:hover {
      border: 1px solid rgba($green, 0.4);
      background: rgba($green, 0.2);
    }
  }

  &:hover {
    .slick-arrow {
      &.slick-prev {
        left: 1.5rem;
        opacity: 1;
      }

      &.slick-next {
        right: 1.5rem;
        opacity: 1;
      }
    }
  }
}

.slider_with_dots {
  padding-bottom: 5rem;

  .slick-arrow {
    margin-top: -2.5rem;
    width: 5rem;
    height: 5rem;
    border: 1px solid rgba($green, 0.2);
    background: rgba($green, 0.1);
    border-radius: 50%;
    transition: 0.3s;
    z-index: 1;

    &:after {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-top: 2px solid $green;
      position: absolute;
      left: 50%;
      top: 50%;
    }

    &.slick-prev {
      left: 1rem;

      &:after {
        border-left: 2px solid $green;
        transform: translateY(-50%) translateX(-50%) rotate(-45deg);
        margin-left: 0.2rem;
      }
    }

    &.slick-next {
      right: 1rem;

      &:after {
        border-right: 2px solid $green;
        transform: translateY(-50%) translateX(-50%) rotate(45deg);
        margin-left: -0.2rem;
      }
    }

    &:before {
      font-size: 0;
    }

    &:hover {
      border: 1px solid rgba($green, 0.4);
      background: rgba($green, 0.2);
    }
  }
}

.react-select {
  &__single-value {
    color: $font !important;
  }

  &__control {
    border-color: rgba($font, 0.2) !important;
    box-shadow: none !important;
    outline: none !important;
    background: #fff !important;

    &:hover {
      border-color: rgba($font, 0.2) !important;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  &__indicator {
    &:hover {
      color: green !important;
    }
  }

  &__menu {
    color: #000;

    .react-select__option--is-disabled {
      display: none;
    }
  }
}

.product_image_slider {
  width: 100%;
  font-size: 0;

  .img_slide {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 0.5rem;
  }
}

.variant_line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  > *:not(:last-child) {
    margin-right: 1rem;
  }
}

.google_btn {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  vertical-align: middle;
  @include transition;
  color: inherit;

  img,
  svg {
    flex-shrink: 0;
    max-width: 2rem;
    max-height: 2rem;
    display: inline-block;
  }

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }

  &:hover {
    color: $green;
  }
}

.form_bottom_variants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.font_sb {
  font-weight: 600;
}

.font_md {
  font-weight: 500;
}

.modal_close {
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;
  height: 4rem;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1px;
    background: currentColor;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &:before {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &:after {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}

.user_info_sides {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.user_info_side {
  width: calc(100% - 35rem);
}

.header_user_paceholder {
  width: 14.5rem;
  flex-shrink: 0;
}

.top_overlay {
  z-index: 7 !important;
}


@media screen and (max-width: 1199px) {
  html {
    font-size: 9px;
  }
  .user_info_side {
    width: calc(100% - 33rem);
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 8px;
  }
  .quarter_blocks {
    margin: -1rem;

    > * {
      margin: 1rem;
      width: calc(33.333% - 2rem);
    }
  }
}

@media screen and (max-width: 767px) {
  .quarter_blocks, .triple_blocks {
    > * {
      margin: 1rem;
      width: calc(50% - 2rem);
    }
  }
  .user_info_sides {
    flex-direction: column;
    align-items: center;

    > *:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  .user_info_side {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
  .half_sides {
    display: block;

    > * {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
  .main_title {
    &.title_h1 {
      font-size: 3rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &.title_h2 {
      font-size: 2.6rem;
    }

    &.title_h3 {
      font-size: 2.4rem;
    }

    &.title_h4 {
      font-size: 2.2rem;
    }

    &.title_h5 {
      font-size: 2rem;
    }

    &.title_h6 {
      font-size: 1.8rem;
    }
  }
  .simple_text {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2.4rem;
    }

    h3 {
      font-size: 2.2rem;
    }

    h4 {
      font-size: 2rem;
    }

    h5 {
      font-size: 1.8rem;
    }

    h6 {
      font-size: 1.6rem;
    }

    blockquote {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 420px) {
  .quarter_blocks, .triple_blocks {
    > * {
      width: calc(100% - 2rem);
    }
  }
  .user_info_side {
    .main_btn_wrapper {
      flex-wrap: wrap;
    }

    .main_btn {
      width: calc(100% - 1rem);
    }
  }
}